<h3>Editar <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <form>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group mb-3 col-md-3">
      <%= f.label :email, for:"floatingInput" %>
      <%= f.email_field :email, class: "form-control",id: "floatingInput" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group mb-3 col-md-3">
      <%= f.label :password, for: "floatingPassword" %> <i>(leave blank to not change)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" , id: "floatingPassword"%>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="form-group mb-3 col-md-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "floatingPassword" %>
    </div>

    <div class="form-group mb-3 col-md-3">
      <%= f.label :current_password, for:"floatingPassword" %>
      <%= f.password_field :current_password, class: "form-control", id: "floatingPassword" %>
    </div>

    <div class="btn-group" role= "group">
      <%= f.submit "Update", class: "btn btn-outline-success"%>
      <%= link_to "Back", products_path, class: "btn btn-outline-primary "%>
    </div>
  </form>
<% end %>
<br />
<form>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm md-2"%>
 <br />
</form>