<div class="w-100 mt-4 row d-flex justify-content-around align-items-center">
  <!--<CARDS> -->
  <% @products.each do |product| %>
    <div class="col-3 p-2 " style="widht: 15rem;" >
      <div class="card border border-dark rounded d-flex" style="height: 30rem;">
        <div class="pt-4 card-title d-flex justify-content-center align-items-center" >
          <%if product.try(:image).try(:attached?)%>
            <%= image_tag product.try(:image), class:'img-fluid img-thumbnail', width: "200px",style: "height: 13rem"%>
            <%else%>
            <%= image_tag 'imagenrota.jpg', class:'img-fluid img-thumbnail', width: "200px", height: "120px" %>
          <%end%>
        </div>

        <div class="card-title d-flex justify-content-center align-items-center mb-2 mt-2">
          <b><h5><%= product.name %></h5></b>
        </div>

        <div class="card-body d-flex justify-content-center align-items-center" style="height: 5rem;">
          <span class="d-inline-block p-0 m-0 text-truncate text-justify text-break" style="height: 5rem;">
            <%= product.description%>
          </span>
        </div>

        <div class="card-footer d-flex justify-content-center align-items-center w-100 p-0 m-0 mt-2 pt-2 pb-2 mb-2 ">
          <b>$ </b><%= product.price %>
        </div>

        <div class="card-footer d-flex justify-content-around align-items-center w-100 p-0 m-0 mt-2 pt-2 pb-2 mb-s ">
          <%= link_to 'Ver mas', product , class: "btn btn-outline-primary btn-sm btn-lg pl-2 pr-2 d-flex flex-nowrap"%>
          <%= button_to 'Add Cart', line_items_path(product_id: product.id), class: "btn btn-outline-success btn-sm" %>
        </div>
      </div>
    </div>
  <%end%>
</div>