<h2>Backoffice</h2>
<table class="table ">
  <thead>
    <tr>
      <th>N° Productos </th>
      <th>Estado</th>
      <th>Actualizado</th>
      <th>Precio total</th>
      <th class="colspan-2"></th>
      </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.line_items.with_deleted.sum(&:quantity) %></td>
      <td><%= cart.state.humanize %></td>
      <td><%= cart.updated_at %></td>
      <%if cart.state != 'rechazado' %>
        <td><%= number_to_currency(cart.total_price)%></td>
        <td>
          <div class="btn-group " role="group">
            <%= link_to 'Ver mas', cart , class: "btn btn-outline-primary btn-sm"%>
            <%= link_to 'Rechazar', cart, method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-outline-danger btn-sm"%>
          </div>
        </td>
      <%else%>
        <td></td>
        <td></td>
      <%end%>

      
    </tr>
    <%end%>
  </tbody>
</table>