<%= render(@cart.line_items) %>

<div class="text-center">
  <div>
    <span class="h5 title">Total: <%= number_to_currency(@cart.total_price) %></span>
  </div>
  <div class="btn-group" role="group">
    <%= link_to 'Empty cart', @cart, method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-outline-danger"%>
    <%= link_to 'Terminar', cart_terminar_path(cart_id: @cart.id), method: :post, data: {confirm: "Are you sure? "}, class: "btn btn-outline-success"%>
    <%= link_to 'Seguir comprando', root_path, class: 'btn btn-outline-primary'%>
  </div>
</div>