<h3 class="login-heading mb-4">Welcome back!</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
    <div class="form-group mb-3 col-md-3">
      <%= f.label :email, for: "floatingInput" %>
      <%= f.email_field :email, autofocus: true, class: "form-control",id: "floatingInput" %>
    </div>

    <div class="form-group mb-3 col-md-3">
      <%= f.label :password, for: "floatingPassword" %>
      <%= f.password_field :password, autocomplete: "current-password",class: "form-control" , id: "floatingPassword" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class= "form-check mb-3 ">
        <%= f.check_box :remember_me, class: "form-check-input", type: "radio", value: "" ,id: "rememberPasswordCheck" %>
        <%= f.label :remember_me, class: "form-check-label" ,for: "rememberPasswordCheck" %>
      </div>
    <% end %>

    <div class="col-auto">
      <%= f.submit "Log in", class: "btn btn-primary btn-login text-uppercase fw-bold mb-2" %>
    </div>
    <div class="col-auto">
        <%= link_to "Forgot your password?", new_password_path(resource_name),class:"btn btn-warning btn-sm" %>
    </div>
  </form>
<% end %>