<%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text mb-3">Nombre</span>
        <%= form.text_field :name, class:'form-control mb-3' %>
      </div>
    
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text mb-3">description</span>
      <%= form.text_field :description, class:'form-control mb-3' %>
    </div>

    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text mb-3">price</span>
      <%= form.number_field :price, class:'form-control mb-3' %>
    </div>

    <div class= "form-group mb-3 col-md-4 ">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, style: "width: 150px; display: block"%>
      <%end%>

      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control"%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <br>


<% end %>
