<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<div class="btn-group btn-group-sm " role="group">
  <%= link_to 'Show', @product, class: 'btn btn-primary' %>
  <%= link_to 'Back', products_path, class:'btn btn-success' %>
  </div>
