<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col">descripcion</th>
      <th scope="col">precio</th>
      <th style= "text-align: right">Acciones</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <%if product.image.attached? %>
        <td><%= image_tag product.image.variant(resize: "200x200")%></td>
      <%end%>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
          <td>
            <div class="btn-group btn-group" role="group">
            <%= link_to 'Show', product , class: "btn btn-outline-dark btn-sm"%>
            <%= link_to 'Edit', edit_product_path(product),class: "btn btn-outline-success btn-sm"%>
            <%= link_to 'Destroy', product, method: :delete, class: "btn btn-outline-danger btn-sm"%>
          </td>
        </div>
        <td>
      </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-success" %>