<p id="notice"><%= notice %></p>

  <% if @product.image.attached? %>
    <div class="card mb-3" style="max-width: 440px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-text"><h5><b>Nombre del producto:</h5></b> <%= @product.name %>
            <p>
                <%= image_tag @product.image.variant(resize: "400x400")%>
            </p>
            <p class="card-text"><b>Descripción: </b><br><%= @product.description %></p>
            <p class="card-text"><b>Precio</b> $<%= @product.price %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div >
   <%if user_signed_in? && current_user.admin?%>
    <%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %>
    <%end%>
    <%= link_to 'Back', root_path, class:'btn btn-warning' %>
    <%= link_to 'Add Cart', line_items_path(product_id: @product), class: "btn btn-success" %>
   </div>
