<div class="card my-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%if line_item.product.try(:image).try(:attached?)%>
        <%= image_tag line_item.product.try(:image), class:'img-fluid img-thumbnail'%>
      <%else%>
        <%= image_tag 'imagenrota.jpg', class:'img-fluid img-thumbnail'%>
      <%end%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= line_item.product.name%></h5>
        <p class="card-text"><%= truncate(line_item.product.description, length:60) %></p>
         <p class="card-text">Cantidad: <%= line_item.quantity%></p>
        <p class="card-text"><%= number_to_currency(line_item.total_price) %></p>
      </div>
    </div>
      <div class="card-footer">
        <div class="d-grid">
          <%= link_to 'Remove item', line_item, method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-sm btn-outline-danger mb-2"%>
        </div>
      </div>
  </div>
</div>