<!--<Button tienda> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="<%=root_path%>" class="navbar-brand">Tienda</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

    <!--<Button Products> -->
    
      <%if user_signed_in? && current_user.admin?%>
        <li class="nav-item">
          <a class="btn btn-secondary" href="<%= products_path %>">Products
            <i class="fa-solid fa-mobile-button"></i>
          </a>
        </li>
      <% end %>

      <%if user_signed_in? && current_user.admin?%>
        <li class="nav-item mx-3">
          <a class="btn btn-secondary" href="<%= admin_path %>">Admin
            <i class="fa-solid fa-screwdriver-wrench"></i>
          </a>
        </li>
      <% end %>


      </ul>
    </div>
    </ul>
      <li>

    <!--<Carrito>--->

        <%if cart_has_items %>
          <%= link_to cart_path(@cart), class: "navbar-item btn btn-warning mx-3" do%>
            <span class ="icon-sm">
              <i class="fa-solid fa-cart-shopping"></i>
              <%= cart_count_over_one %>
            </span>
          <% end %>
        <% end %>
      </li>

    <!--<Users> -->

    <%if (user_signed_in?) %>
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
        <%=  current_user.present? ? (current_user.email) : 'Ingresar' %>
          <i class="fa-solid fa-circle-user"></i> 
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item"><%= link_to "Editar", edit_user_registration_path, class:'dropdown-item' %></a></li>
          <li><a class="dropdown-item"><%= link_to 'Desconectarse', destroy_user_session_path , method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item'%></a></li>
        </ul> 
      </div>
    <%else %>
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%=  current_user.present? ? (current_user.email) : 'Ingresar' %>
          <i class="fa-solid fa-circle-user"></i> 
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="<%= new_user_session_path%>">Conectarse</a></li>
        </ul> 
      </div>
    <%end%>
  </div>
</nav>
